.container {
  width: 100%;
  max-width: 768px;
  min-width: 768px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.row {
  display: flex;
}
.column {
  align-items: center;
  width: 50%;
}
.city {
  width: 90%;
  font-size: 16px;
  height: 28px;
  box-sizing: border-box;
  border:none;
  border-bottom:1px solid #cfcccc;
}
.city:focus {
  outline:none;
}
.city::placeholder {
  font-style: italic;
}
.city:focus::placeholder {
  color: transparent;
}
.suggestions {
  width: 90%;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 10px 0;
  color: #cfcccc;
  line-height: 1.4;
  cursor: pointer;
}
.suggestions-item:hover {
  background-color: #fafafa;
  color: #9e9a9a;
}
.result {
  display: block;
  width: 100%;
}
.column-weather {
  display: flex;
}
.main {
  margin: 0px 10px;
  flex-direction: column;
  line-height: 1;
}
.column-city {
  width: 100%;
  font-size: 20px;
  line-height: 2;
}
.list {
  flex-direction: column;
  align-self: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.temp {
  font-size: 44px;
}
.description {
  font-size: 17px;
  line-height: 1.4;
}
.list-item {
  display: flex;
  width: 100%;
  font-size: 10px;
  justify-content: space-between;
}
.list-item-index {
  min-width: 58px;
}
